In [2]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori

In [9]:
dataset = [['Indomie','Telor','saus sambal','sosis'],
           ['Telor','abon','saus sambal'],
           ['Indomie','Telor','saus sambal','sosis'],
           ['Indomie','abon','saus sambal','sosis'],
           ['Telor','abon','saus sambal','sosis'],
          ['Telor','saus sambal','sosis'],
          ['abon','saus sambal'],
           ['Indomie','Telor','sosis'],
          ['Indomie','saus sambal','sosis'],
          ['Telor','saus sambal']]

In [10]:
dataset

[['Indomie', 'Telor', 'saus sambal', 'sosis'],
 ['Telor', 'abon', 'saus sambal'],
 ['Indomie', 'Telor', 'saus sambal', 'sosis'],
 ['Indomie', 'abon', 'saus sambal', 'sosis'],
 ['Telor', 'abon', 'saus sambal', 'sosis'],
 ['Telor', 'saus sambal', 'sosis'],
 ['abon', 'saus sambal'],
 ['Indomie', 'Telor', 'sosis'],
 ['Indomie', 'saus sambal', 'sosis'],
 ['Telor', 'saus sambal']]

In [11]:
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

   Indomie  Telor   abon  saus sambal  sosis
0     True   True  False         True   True
1    False   True   True         True  False
2     True   True  False         True   True
3     True  False   True         True   True
4    False   True   True         True   True
5    False   True  False         True   True
6    False  False   True         True  False
7     True   True  False        False   True
8     True  False  False         True   True
9    False   True  False         True  False

In [12]:
frequent_itemsets = apriori(df, min_support=0.3, use_colnames=True)
frequent_itemsets

    support                       itemsets
0       0.5                      (Indomie)
1       0.7                        (Telor)
2       0.4                         (abon)
3       0.9                  (saus sambal)
4       0.7                        (sosis)
5       0.3               (Telor, Indomie)
6       0.4         (saus sambal, Indomie)
7       0.5               (sosis, Indomie)
8       0.6           (Telor, saus sambal)
9       0.5                 (sosis, Telor)
10      0.4            (saus sambal, abon)
11      0.6           (sosis, saus sambal)
12      0.3        (sosis, Telor, Indomie)
13      0.4  (sosis, saus sambal, Indomie)
14      0.4    (sosis, Telor, saus sambal)

In [37]:
frequent_itemsets = apriori(df, min_support=0.5, use_colnames=True)
frequent_itemsets

   support              itemsets
0      0.5             (Indomie)
1      0.7               (Telor)
2      0.9         (saus sambal)
3      0.7               (sosis)
4      0.5      (sosis, Indomie)
5      0.6  (Telor, saus sambal)
6      0.5        (sosis, Telor)
7      0.6  (sosis, saus sambal)

In [40]:
from mlxtend.frequent_patterns import association_rules
association_rules(frequent_itemsets, metric="lift", min_threshold=0.5)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(sosis),(Indomie),0.7,0.5,0.5,0.714286,1.428571,0.15,1.75
1,(Indomie),(sosis),0.5,0.7,0.5,1.000000,1.428571,0.15,inf
2,(Telor),(saus sambal),0.7,0.9,0.6,0.857143,0.952381,-0.03,0.70
3,(saus sambal),(Telor),0.9,0.7,0.6,0.666667,0.952381,-0.03,0.90
4,(sosis),(Telor),0.7,0.7,0.5,0.714286,1.020408,0.01,1.05
5,(Telor),(sosis),0.7,0.7,0.5,0.714286,1.020408,0.01,1.05
6,(sosis),(saus sambal),0.7,0.9,0.6,0.857143,0.952381,-0.03,0.70
7,(saus sambal),(sosis),0.9,0.7,0.6,0.666667,0.952381,-0.03,0.90

In [41]:
rules["antecedent_len"] = rules["antecedents"].apply(lambda x: len(x))

In [43]:
rules[ (rules['antecedent_len'] >= 1) &
       (rules['confidence'] > 0.5) &
       (rules['lift'] > 1) ]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len
0,(sosis),(Indomie),0.7,0.5,0.5,0.714286,1.428571,0.15,1.75,1
1,(Indomie),(sosis),0.5,0.7,0.5,1.000000,1.428571,0.15,inf,1
2,"(sosis, Telor)",(Indomie),0.5,0.5,0.3,0.600000,1.200000,0.05,1.25,2
3,"(Telor, Indomie)",(sosis),0.3,0.7,0.3,1.000000,1.428571,0.09,inf,2
5,(Indomie),"(sosis, Telor)",0.5,0.5,0.3,0.600000,1.200000,0.05,1.25,1
6,"(sosis, saus sambal)",(Indomie),0.6,0.5,0.4,0.666667,1.333333,0.10,1.50,2
7,"(saus sambal, Indomie)",(sosis),0.4,0.7,0.4,1.000000,1.428571,0.12,inf,2
8,(sosis),"(saus sambal, Indomie)",0.7,0.4,0.4,0.571429,1.428571,0.12,1.40,1
9,(Indomie),"(sosis, saus sambal)",0.5,0.6,0.4,0.800000,1.333333,0.10,2.00,1